header{
  background-color:black;
  color: firebrick;
  padding: 20px;
}
body{
  font-family: Arial;
}
p{
  font-size: 16px;
  background-color: lightgrey;
  padding:10px;
}
ul{
  font-family: Arial;
list-style-type: none;
}
li{
  background-color: lightgray;
  padding:4px;
  margin: 4px;
}

a{text-decoration: none;
  color: firebrick;
font-weight: bold;}
